// Déclarer les variables font
$font-family: "DM Sans", sans-serif;
$border-color: #c4c4c4;
$color-titre-h1: #901c1c;
$color-tritre-h2: #d3573c;
$background-color: #901c1c;
$color-price: #757575;
$background-color-photograph-section: #fafafa;
$background-color-aside: #db8876;

@mixin primaire_foncé {
  background-color: #901c1c;
  color: white;
}

@mixin primaire_clair {
  background-color: #d3573c;
  color: black;
}

@mixin secondaire_foncé {
  background-color: #d3573c;
  color: black;
}

@mixin secondaire_grey {
  background-color: #fafafa;
  color: #525252;
}

@mixin secondaire_clair {
  color: #901c1c;
}

// Enlever les marges et padding sur le body et appliquer la font

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 44px;
  font-family: $font-family;
  width: 100vw;
  overflow: hidden;
}

// Style du header

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  &--photographer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  &__logo {
    width: 200px;
    position: absolute;
    top: 30px;
    left: -33px;
    &--photographer {
      position: relative;
      width: 200px;
    }
  }
  &__nav {
    margin: 0px 32%;
  }
  &__liste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

// Element bouton "specialité"

.btn__speciality {
  color: $color-titre-h1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px 2.5px 0px;
  height: 22px;
  font-size: 12px;
  list-style-type: none;
  border: solid;
  border-radius: 11px;
  border-width: 0.5px;
  border-color: $border-color;
  margin: 0px 2.5px 0px 2.5px;
  padding: 3px 7px;
  cursor: pointer;
  margin-bottom: 6px;
  &:hover {
    background-color: $background-color;
    color: white;
  }
}

#logo1 {
  left: 0px;
}

// Configurer la section "main"

.main {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

// Element h1
.titre_h1 {
  position: absolute;
  top: 29px;
  right: 0;
  width: 30%;
  text-align: center;
  font-family: $font-family;
  font-size: 36px;
  font-weight: 400;
  color: $color-titre-h1;
}

// Element "Profile"

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 480px;
  padding: 24px 0px;
  margin: 0px;
  &:hover {
    cursor: pointer;
  }
  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    &--photograph {
      position: absolute;
      top: 56.5px;
      right: 30px;
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 36px;
    color: $color-tritre-h2;
    font-weight: 400;
    &--photograph {
      font-size: 64px;
      color: $color-tritre-h2;
      font-weight: 400;
    }
  }
  &__location {
    color: $color-titre-h1;
    font-size: 13px;
    &--photograph {
      color: $color-titre-h1;
      font-size: 24px;
    }
  }
  &__intro {
    font-size: 10px;
    &--photograph {
      font-size: 18px;
    }
  }
  &__price {
    color: $color-price;
    font-size: 9px;
  }
  &__skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__tag {
    color: $color-titre-h1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px 2.5px 0px;
    height: 22px;
    font-size: 12px;
    list-style-type: none;
    border: solid;
    border-radius: 11px;
    border-width: 0.5px;
    border-color: $border-color;
    margin: 0px 2.5px 0px 2.5px;
    padding: 3px 7px;
    cursor: pointer;
    &--photograph {
      color: $color-titre-h1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 0px 2.5px 0px;
      height: 22px;
      font-size: 18px;
      list-style-type: none;
      border: solid;
      border-radius: 11px;
      border-width: 0.5px;
      border-color: $border-color;
      margin: 0px 2.5px 0px 2.5px;
      padding: 3px 7px;
      cursor: pointer;
    }
    &:hover {
      background-color: $background-color;
      color: white;
    }
  }
}

.form-photographer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// PAGE HTML "PROFILE"

.second-body {
  padding-top: 44px;
  font-family: $font-family;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &__btn {
    position: relative;
    top: 10px;
    width: 170px;
    height: 69px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: $background-color;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.sortby {
  font-weight: 700;
  font-size: 18px;
}

.navigation-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 9px;
}

.filter {
  height: 57px;
}
.popularity-text {
  padding: 25px 0px;
}

.list {
  list-style-type: none;
  font-size: 18px;
  font-weight: 700px;
  padding-left: 5px;
  border-radius: 5px;
  &__link--popular {
    display: block;
    text-decoration: none;
    text-align: left;
    color: white;
    background-color: $background-color;
    font-size: 18px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__link--date {
    display: block;
    text-decoration: none;
    text-align: left;
    color: white;
    background-color: $background-color;
    font-size: 18px;
    padding: 5px;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
  }
  &__link--title {
    display: block;
    text-decoration: none;
    text-align: left;
    color: white;
    background-color: $background-color;
    font-size: 18px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.filter {
  display: block;
  background-color: $color-titre-h1;
  color: white;
  font-size: 18px;
  font-weight: 700px;
  margin-left: 5px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

#filter-popular {
  border-radius: 5px;
}

#down {
  display: none;
}

.profile-section {
  position: relative;
  background-color: $background-color-photograph-section;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 48px;
  margin-top: 40px;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 400px;
}

.profile__location--photograph {
  margin-bottom: 19px;
}

.profile__intro--photograph {
  margin-bottom: 15px;
}

.photograph-content {
  display: none;
}

.profil-pic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.counter {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 34px;
  bottom: 0;
  right: 36px;
  background-color: $background-color-aside;
  height: 68px;
  width: 340px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #000000;
  font-weight: 500;
  font-size: 24px;
}

.pictures {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  & form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__media {
    margin-bottom: 30px;
  }
  &__pics {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    &:hover {
      cursor: pointer;
    }
  }
  &__description {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    max-height: 31px;
    & i {
      padding-left: 6.37px;
      padding-right: 3px;
      color: $color-titre-h1;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__title {
    font-weight: 400;
    font-size: 24px;
    color: $color-titre-h1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__number {
    font-weight: 500;
    font-size: 24px;
    color: $color-titre-h1;
  }
}

.photographs-id {
  &:hover {
    cursor: pointer;
  }
}

.form-section {
  position: fixed;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  z-index: 5;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $background-color-aside;
  width: 669px;
  height: 830px;
  border-radius: 5px;
  padding: 35px 35px 0px 35px;
  &__background {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  &__title {
    font-size: 64px;
    color: black;
    font-weight: 400;
    line-height: 95%;
  }
  & label {
    font-size: 36px;
    color: black;
  }
  &__input-first {
    height: 68px;
    width: 100%;
    border-radius: 5px;
    font-size: 36px;
  }
  &__input-last {
    height: 68px;
    width: 100%;
    border-radius: 5px;
    font-size: 36px;
  }
  &__input-email {
    height: 68px;
    width: 100%;
    border-radius: 5px;
    font-size: 36px;
  }
  &__input-message {
    height: 170px;
    width: 100%;
    margin-bottom: 26px;
    border-radius: 5px;
    font-size: 36px;
  }
  & i {
    position: absolute;
    right: 35px;
    top: 35px;
    color: white;
    font-size: 42px;
  }
  &__submit-btn {
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #901c1c;
    color: white;
    width: 170px;
    height: 35px;
    font-size: 18px;
  }
}

#slider-section {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  &__btn {
    color: $background-color;
    width: 29.64px;
    height: 48px;
    border: none;
    background-color: transparent;
  }
  & i {
    font-size: 48px;
    cursor: pointer;
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  &__container {
    width: 70%;
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

#slider__cross {
  position: absolute;
  top: -373px;
  right: 0px;
  font-size: 42px;
  color: $background-color;
}
.cross-container {
  position: relative;
}

.top-btn {
  display: none;
  position: fixed;
  top: 6px;
  left: 50%;
  margin-left: -91px;
  border: none;
  width: 182px;
  height: 30px;
  border-radius: 5px;
  background-color: $background-color-aside;
  font-weight: 700;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
}

.profile__tagslist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mini-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70px;
}

.slider__name {
  font-weight: 400;
  font-size: 24px;
  color: $color-titre-h1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#next-btn {
  cursor: pointer;
}
#previous-btn {
  cursor: pointer;
}

/////////////////////////// MEDIA QUERIES /////////////////////////

// Page d'acceuil
@media screen and (max-width: 375px) {
  .titre_h1 {
    font-size: 14px;
    width: 119px;
    margin-right: 22px;
    top: 47px;
  }

  .btn__speciality {
    height: 22px;
    font-size: 12px;
    font-weight: 400px;
    margin-bottom: 6px;
  }

  .header__logo {
    position: absolute;
    top: 30px;
    left: -22px;
  }

  .header__nav {
    margin: 0px;
  }

  .header__liste {
    position: static;
    margin-top: 50px;
    top: 109px;
    left: 0px;
    padding-right: 39px;
    padding-left: 39px;
  }

  .main {
    padding-top: 11px;
  }

  // Page photographe
  .profile__name--photograph {
    font-size: 36px;
    width: 202px;
  }
  .profile__location--photograph,
  .profile__intro--photograph,
  .profile__tag--photograph {
    font-size: 13px;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }

  .profile__intro--photograph {
    color: #757575;
  }

  .profile__img--photograph {
    top: -10px;
    right: 0px;
    width: 100px;
    height: 100px;
  }

  .pictures__pics {
    width: 100%;
    height: 190px;
  }

  .contact-me {
    position: fixed;
    bottom: 30px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
  }
  .contact-me__btn {
    z-index: 3;
    width: 170px;
    height: 35px;
    font-size: 18px;
  }

  .profile-section {
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: transparent;
  }

  .counter {
    display: none;
  }

  .presentation {
    align-items: flex-start;
  }

  .pictures__media {
    width: 100%;
  }

  .pictures__title,
  .pictures__number,
  .mini-container i {
    font-size: 14px;
  }

  .navigation-filter {
    display: none;
  }

  .form {
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 0px;
    max-width: 100vw;
    padding: 20px 22px 0px 15px;
  }

  .contact-form {
    width: 100%;
  }

  .form__title {
    font-size: 36px;
  }

  .form label {
    margin-top: 14px;
    font-size: 24px;
  }

  .form i {
    font-size: 19px;
  }

  .form__input-first {
    height: 52px;
  }

  .form__input-last {
    height: 52px;
  }

  .form__input-email {
    height: 52px;
  }

  .form input {
    margin-top: 6px;
  }

  #slider__cross {
    top: -164px;
    right: 19px;
    font-size: 20px;
  }
  .slider i {
    font-size: 24px;
  }
  .slider__container {
    height: 30%;
    width: 80%;
  }
  #next-btn {
    margin-right: 10px;
  }
  #previous-btn {
    margin-left: 10px;
  }

  .slider__name {
    font-size: 14px;
  }
  .navigation-filter {
    display: none;
  }
}

// Empêcher la photo d'écraser le bouton "contactez-moi"

@media only screen and (min-width: 376px) and (max-width: 1100px) {
  .contact-me {
    position: fixed;
    bottom: 30px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
  }
  .contact-me__btn {
    z-index: 3;
    width: 170px;
    height: 35px;
    font-size: 18px;
  }
}

// Tablettes
@media only screen and (min-width: 376px) and (max-width: 1023px) {
  .profile__name--photograph {
    font-size: 36px;
    width: 202px;
  }
  .profile__location--photograph,
  .profile__intro--photograph,
  .profile__tag--photograph {
    font-size: 13px;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }

  .profile-section {
    padding-bottom: 77px;
    padding-left: 0px;
    padding-top: 0px;
    background-color: transparent;
  }

  .profile__img--photograph {
    top: -16.5px;
  }

  .profile-section p {
    margin-bottom: 15px;
  }

  .counter {
    display: none;
  }

  .second-body {
    padding: 40px 3% 0px 3%;
  }

  .titre_h1 {
    top: 99px;
    left: 31px;
    text-align: left;
    width: 100%;
    font-size: 19px;
  }

  .counter {
    display: none;
  }

  .profile {
    width: 331px;
  }

  .header {
    width: 100%;
    justify-content: flex-end;
    &__nav {
      margin-right: 0px;
      margin-left: 200px;
    }
  }

  .slider__container {
    height: 70%;
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .profile__img--photograph {
    width: 100px;
    height: 100px;
  }
  .slider__container {
    height: 40%;
    width: 80%;
  }
}
